$primary-dark: #25283D;
$dark-purple: #392259;
$med-purple: #6247AA;
$light-purple: #9562b0;
$med-blue: #3E92CC;
$light-blue: #BBE0FC;
$white: #ffffff;
$primary-font: 16px;
$box-shadow: 0 .10rem .30rem $primary-dark;
$font-fam: 'Manrope', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: $primary-font;
    font-family: $font-fam;
    font-weight: 400;
    color: $primary-dark;
}

.container {
    margin: 0px auto;
}

html, .text {
    font-size: $primary-font;
    font-family: $font-fam;
    font-weight: 400;
    color: $primary-dark;
}

.button {
    border-radius: 3px;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 0.3rem 0.4rem rgba(0,0,0, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(.1rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
    }
}

.notFound__message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-fam;
    font-weight: 400;
    max-width: 450px;
    margin: 20px auto;
    padding: 0 15px;
    text-align: center;
    color: $primary-dark;
    font-size: 1.5rem;
}
