.nav-bar {



    &__button {
        font-size: 1.5rem;
        padding-left: 15px;
        cursor: pointer;
        color: $white;

        &:hover, &.open {
            color: $light-purple;
        }
    }


    &__container {
        width: 100%;
        height: 55px;
        display: flex;
        font-family: $font-fam;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        background-color: $dark-purple;
    }

    &__drawer {
        position: absolute;
        top: 3.5rem;
        width: 250px;
        border-bottom-right-radius: 3px;
        background-color: $white;
        flex-direction: column !important;
        box-shadow: $box-shadow;
        padding: 15px 20px;
        height: 100vh;
        transition: all 175ms ease;

        &--open {
            left: 0;
            visibility: visible
        }

        &--closed {
            left: -250px;
            visibility: hidden;
        }
    }



    &__sec {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        & > a {
            padding: 10px 15px;
            text-decoration: none;
            color: $light-purple;
            font-weight: bold;
            width: 100%;

            &:hover {
                color: $white;
                text-decoration: none;
                background-color: $light-purple;
                border-radius: 3px;
            }

            &.selected {
                color: $med-purple;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &__title {
        font-weight: 800;
        font-size: 1.4rem;
        color: $white;
        padding-left: 15px;
        text-decoration: none;

        &:hover {
            background-color: transparent;
        }
    }
}
