.items {

    &__table-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        max-width: 400px;
        border-radius: 3px;
        box-shadow: $box-shadow;
        font-family: $font-fam;
        font-weight: 400;
        margin: 40px auto;
    }

    &__header-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        font-weight: 600;
        color: $primary-dark;

        & > div {
            padding: 10px 20px;
        }

        & > svg {
            align-self: center;
            padding-left: 120px;
            flex-grow: 1;
        }
    }



    &__row {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        &:nth-child(2n) {
            background-color: $light-blue;
        }

        &__dropdown-btn {
            color: $primary-dark;
            padding-right: 15px;
        }

        &--dropdown-container {
            position: absolute;
            border-radius: 3px;
            background-color: inherit;
            height: 50px;
            right: 0;
            visibility: hidden;
        }
    }



    &__name {
        padding: 5px 20px;
    }

    &__price {
        width: 24%;
    }
}


.sort {
    &__container {
        display: flex;
        justify-content: flex-end;
        max-width: 450px;
        margin: 0 auto;
    }

    &-btn {
        margin-top: 20px;
        background-color: $dark-purple;
        color: $white;

        &:hover {
            background-color: $light-purple;
        }
    }
}