.hidden {
  visibility: hidden; }

.container {
  margin: 0px auto; }

html, .text {
  font-size: 16px;
  color: #25283D; }

.button {
  border-radius: 3px;
  border: none;
  padding: 10px 15px; }

.notFound__message {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 20px auto;
  padding: 0 15px;
  text-align: center;
  color: #25283D;
  font-size: 1.5rem; }

.nav-bar__container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #392259; }
  .nav-bar__container > a, .nav-bar__container div > a {
    padding: 20px 10px;
    text-decoration: none;
    color: #9562b0;
    font-weight: bold; }
    .nav-bar__container > a.selected, .nav-bar__container div > a.selected {
      color: #ffffff !important; }
    .nav-bar__container > a:hover, .nav-bar__container div > a:hover {
      color: #ffffff;
      text-decoration: none; }

.loader__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px auto; }

.rotate {
  font-size: 2rem;
  color: #3E92CC;
  animation: rotation 1.5s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.form__container {
  max-width: 450px;
  background-color: #BBE0FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0px auto;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.3rem #25283D; }
  .form__container > label {
    font-weight: bold; }

.form__error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
  padding: 20px; }

.form__input {
  border: 1px solid #777;
  height: 35px;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  border-radius: 3px; }
  .form__input.hasError {
    border: 2px solid red; }

.form__btn {
  background-color: #3E92CC;
  color: #ffffff;
  width: 250px;
  align-self: center;
  margin-top: 20px; }
  .form__btn:hover {
    background-color: #2d77aa; }

.items__table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 450px;
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.3rem #25283D;
  margin: 40px auto; }

.items__header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding: 0px 25px;
  color: #25283D; }
  .items__header-row > div {
    padding: 10px 20px; }

.items__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px; }
  .items__row:nth-child(2n) {
    background-color: #BBE0FC; }

.items__name {
  padding: 5px 20px; }

.sort__container {
  display: flex;
  justify-content: flex-end;
  max-width: 450px;
  margin: 0 auto; }

.sort-btn {
  margin-top: 20px;
  background-color: #392259;
  color: #ffffff; }
  .sort-btn:hover {
    background-color: #9562b0; }

.result__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  height: 40px; }
  .result__container > div {
    padding: 0px 15px; }

.background {
  max-width: 450px;
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.3rem #25283D;
  background-color: #BBE0FC; }
